* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#hero {
  width: 99vw;
  height: 50vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-styling {
  display: flex;
  list-style: none;
  overflow: auto;
  width: 98vw;
  align-items: center;
  height: 25rem;
  margin-left: 10px;
  scroll-behavior: smooth;
}

.content-styling::-webkit-scrollbar {
  display: none;
}

.content-styling li {
  display: flex;
  margin: 5px;
}

.content-styling li img {
  width: 200px;
  border-radius: 10px;
  user-select: none;
  transition: transform 0.5s ease;
}

.content-styling li:hover img {
  transform: scale(1.32);
  box-shadow: 0 4px 20px 0 rgba(2, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 1;
}

.titles {
  color: #f5c518;
  margin-top: 50px;
  margin-left: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.menu {
  height: 55px;
  display: flex;
  align-items: center;
  border: solid 2px;
  background-color: rgb(18, 18, 18);
}

.logo {
  margin: 30px;
}

.search {
  height: 50%;
  width: 5%;
  margin: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  transition: width 0.5s ease;
}

.search:focus {
  width: 20%;
}

.scroll-btn {
  background-color: #14141446;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  height: 300px;
  width: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease;
  z-index: 10;
}

.scroll-btn:hover {
  background-color: #14141480;
}

.scroll-btn:hover .arrow {
  font-size: 4em;
}

.right {
  right: 0;
}

.arrow {
  color: white;
  font-size: 3em;
  visibility: hidden;
  transition: font-size 0.15s ease;
  z-index: 10;
}

.content-styling:hover .arrow {
  visibility: visible;
}
